<!DOCTYPE html!>
<head>

    {% if page.title %}
        <title>{{page.title}} - sabre/dav</title>
    {% else %}
        <title>sabre/dav</title>
    {% endif %}

    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,700,300,400" type="text/css">
    <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" type="text/css" />

    {% if site.debug_less %}
        <link rel="stylesheet/less" type="text/css" href="{{ site.url }}/less/sabre.less" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ site.url}}/css/sabre.css" />
    {% endif %}

</head>
<body>
    {% include "header.html" %}

    {% block mainwrapper %}
    <main>
        {% if page.sidebar != "none" %}
            {% include "sidebar.html" %}
        {% endif %}
        <article>
            {%block contentwrapper%}
            {% if page.title %}<h1>{{page.title}}</h1>{% endif %}
            {% block content %}{% endblock %}
            {% endblock %}

            {% if not page.nocomments %}
            <hr />
            <h2>Comments</h2>
            <div id="disqus_thread"></div>
            {% endif %}
        </article>
    </main>
    {% endblock %}

    <!-- this is where the ugly bit starts. Stupid javascript :( -->

    <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% include "ga.html" %}

    {% include "comments.html" %}

    {% include "footer.html" %}

</body>
