// BOXES
// =============================================================================

// Box
// ----
// Default content box.
.box {
    .clearfix();
    padding: 10px;
    max-width: @screen-lg;
    margin-left: auto;
    margin-right: auto;

    > h2 {
        text-align: center;
    }

    @media (min-width: @screen-sm-min) {
        padding: 20px 40px;
    }
}


// Children elements
// -----------------------------------------------------------------------------

// Box wrapper
// ---
// Wraps the box content and holds it in the middle on wiiiide screens.
.box-wrapper {
    max-width: @screen-lg;
    margin-left: auto;
    margin-right: auto;
}

// A simply headline. Not too big 'cause it's inside the boxes.
.box-headline {
    font-size: @headline-h3;
    font-weight: normal;
    line-height: @line-height-base*1.5;
    text-align: center;
    margin-bottom: 10px;
}

// simple copy text
.box-text {
    @media (min-width: @screen-sm-min) {
        float: left;
        width: 44%;
        margin-left: 3%;
        margin-right: 3%;

    }
}


// VARIANTS
// -----------------------------------------------------------------------------

// Hero
// ---
// Main itroduction element. A big picture with a catchy headline and slogan.
.box--hero {
    text-align: center;
    padding:  20px 20px 40px 20px;
    margin-bottom: 10px;

    p {
        font-size: @headline-h4;
    }

    // Install
    // ---
    // This is the big red circle on the homepage
    .install {
        display: inline-block;
        width: 110px;
        height: 110px;
        padding-top: 25px;
        margin-bottom: 10px;

        background: @sabre-red;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;

        border-radius: 50%;
        transition: all .5s ease;

        &:hover {
            background: @sabre-sidekick;
        }

        &:visited {
            color: #fff;
        }

        i {
            font-size: 40px;
            display: block;
        }

    }
}




// Box : Enterprise
// ---
// A box with some greenish make up
.box--enterprise {
    max-width: none;
    // #gradient > .vertical (@sabre-sidekick-light, @sabre-sidekick);
    background: fade(@sabre-sidekick, 60%);
    .clearfix();

    h1 {
        text-align: center;
        color: @sabre-deco;
    }

    h3,
    p,
    ul,
    li {
        color: #fff;
    }

    li::before {
        color: @sabre-deco;
    }

    // A fleshy contact bubble
    .bubble {
        display: block;
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        border-radius: 50%;
        background: @sabre-red;
        color: #fff;
        text-decoration: none;
        text-align: center;
        transition: all .5s ease;

        strong {
            transition: all .5s ease;
            color: @sabre-deco;
            font-weight: bold;
            text-decoration: none;
        }

        .fa {
            display: block;
            margin-bottom: 5px;
        }

        &:hover {
            background-color: #fff;
            color: @sabre-red;

            strong {
                color: @sabre-sidekick;
            }
        }
    }

    > div {
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 5px;
        max-width: 640px;
        .clearfix();
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        a {
            text-align: center;
            background: rgba(255,255,255,.2);
            display: block;
            padding: 20px 60px;

            @media (min-width: 640px) {
                padding-top: 45px;
                float: left;
                height: 170px;
            }

        }

        h3,
        ul {
            margin-left: 20px;
            margin-right: 20px;
            @media (min-width: 640px) {
                margin-left: 290px;
            }
        }

        ul {
            margin-bottom: 20px;
        }
    }

}



// Box : Lineup
// ---
// A box containing the project linup
.box--lineup {
    text-align: center;
    margin-bottom: 40px;

    a {
        vertical-align: top;
        background: fade(@sabre-sidekick, 70%);
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: #fff;
        transition: all .5s ease;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 20px;
        padding: 15px;
        width: 98%;
        .clearfix();
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        box-shadow: 0 0 10px fade(@sabre-sidekick, 20%);

        @media (min-width: 640px) {
            // margin-left: 2%;
            // margin-right: 2%;
            width: 46%;
        }

        @media (min-width: @screen-md) {
            width: 25%;
        }

        &:hover {
            background: @sabre-sidekick;
        }
    }

    h3 {
        font-weight: 300;
        border-radius: 5px 5px 0 0;
        padding: 15px;
        margin: -15px -15px 20px -15px;
        background: #fff;
        // color: @sabre-sidekick;
        color: @grey;
        position: relative;
        &:after {
            content:' ';
            border: 10px solid #fff;
            position: absolute;
            width: 1px;
            height: 1px;
            bottom: -17px;
            left: 50%;
            margin-left: -10px;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }
    }
}


// Box : Partners
// ---
// A box with some logos inside

.box--trusted {
    background: #fff;
    text-align: center;

    max-width: none;
    margin-bottom: 20px;

    a {
        display: inline-block;
        width: 25%;
        padding: 5px;
    }

    img {
        max-height: 100px;
    }

}
