// This file contains all the stylerules that are applicable to every page


* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: @font-size-base;
    line-height: 22px;
    font-weight: 300;  
}


// TYPE
// -----------------------------------------------------------------------------

h1 {
    font-size: @headline-h1;
    line-height: 44px;
    padding-bottom: 5px;
    color: @sabre-red;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    color: @grey;
    font-size: @headline-h2;
    line-height: @line-height-base*2;
    font-weight: 300;
}

h3 {
    font-size: @headline-h3;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 1px dashed @sabre-deco;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

a {
    color: @linkcolor;
    
    &:visited {
        color: @linkcolor-visited;
    }

    &:hover {
        color: @linkcolor-hover;
    }

    h1 & {
        text-decoration: none;
    }

}

blockquote, .version-note {
    background: #eee;
    padding: 5px 25px 5px 5px;
    border-left: 20px solid #ccc;
    margin-top: 15px;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    list-style-type: none;

    li:before {
        width: 15px;
        display: inline-block;
        content: "\f101";
        font-family: 'FontAwesome';
        font-size: 0.8em;
        margin-left: -15px;
        vertical-align: text-top;
        color: @sabre-sidekick;
    }
}

code {
    line-height: 18px;
    overflow-y: auto;
}


// Table
// -----------------------------------------------------------------------------
// The very basic table.

table {
    width: 100%;
    border-top: 5px solid @grey-soft;
    border-bottom: 5px solid @grey-soft;
}

th {
    text-align: left;
    padding: 10px;
    font-weight: 500;
}

td {
    padding: 10px;
    border: 1px dotted @grey-soft;
}


// HEADER
// -----------------------------------------------------------------------------
// Everything before the main content area.

header {
    background-color: #eee;
    text-align: right;
    .clearfix();

    // sabre/dav logo on the left side
    .logo {
        float: left;
        padding: 5px 10px;
        
        img {
            vertical-align: middle;
        }

        a {
            color: #333;
            text-decoration: none;
            font-size: @headline-h2;
            font-weight: 500;
        }
    }

    // Page navigation in the upper right corner.
    nav {
        padding: 19px 10px;
        word-spacing: 20px;

        ul {
            .unstyle-ul();
        }

        li {
            display: inline;
            word-spacing: 0;
        }

        li a {
            text-decoration: none;
        }

    }
}


// MAIN
// -----------------------------------------------------------------------------
// Playground for the content.

main {
    padding: 40px;
}


// FOOTER
// -----------------------------------------------------------------------------
// Some credits and links in the footer section on the bottom of the page.

footer {
    padding: 50px 0;
    font-size: 80%;
    nav {
        text-align: center;
    }

    ul {
        .unstyle-ul();
    }
    
    nav li {
        display: inline;
        white-space: nowrap;
    }
}

// Blog Entry
// -----------------------------------------------------------------------------
// A blog element.
.blog-entry {

    margin-bottom: 40px;
    .clearfix();

    h1 {
        font-weight: 300;
        text-align: left;
    }

    time {
        float: right;
        display: block;
        background: lighten(@sabre-deco,10);
        border-radius: 10px;
        padding: 0 10px;
        margin-top: 25px;
        margin-left: 10px;
    }
}

