// This file contains all the stylerules that are applicable to every page

/* Reset + basic styles */
body, main, h1, blockquote, ul, li {
    margin: 0;
    padding: 0;

}

* {
    /* This changes everything! */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}

body, td, th {
    font-weight: 300;
    font-size: 14px;
}

a {
    color: #31a1cd;
}
a:visited {
    color: darken(#31a1cd, 20%);
}

h1 {
    font-size: 42px;
    line-height: 43px;
    padding-bottom: 5px;
    color: @sabre-red;

    a {
        color: @sabre-red;
        text-decoration: none;
    }
}

h2 {
    color: @sabre-red;
}

hr {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: @sabre-deco;
}


/* Everything before the main content area */
header {
    background-color: #eee;
    padding: 10px;

    .logo a {
        color: #333;
        text-decoration: none;
        font-size: 28px;
        font-weight: 500;

    }

    .logo * {
        vertical-align: middle;
    }

    nav {
        word-spacing: 20px;

        ul {
            list-style: none;
            position: absolute;
            right: 20px;
            top: 13px;
        }

        li {
            display: inline;
            word-spacing: 0;
        }

        li a {
            text-decoration: none;
        }

    }
}

/* Main contains both the sidebars, and the main content */
main {
    display: -webkit-flex;
    display: flex;

    table {
        border-collapse: collapse;

        td, th {
            border: 1px solid #ccc;
            padding: 4px;
        }

        th {
            font-weight: bold;
            text-align: left;
        }
    }

    blockquote {
        background: #eee;
        padding: 5px 25px 5px 5px;
        border-left: 20px solid #ccc;
    }

}

/* The article contains the main page content + comments, but not the sidebar
*/
article {
    margin: 0 20px;
    padding-top: 30px;
    -webkit-flex: 4 1 auto;
    flex: 4 1 800px;

    >time {
        display: block;
        font-style: italic;
        font-size: 90%;
    }

    ul {
        margin-left: 25px;
    }
}

/* Sidebar */
aside {
    -webkit-flex: 1 0 200px;
    flex: 1 0 200px;
    border: 0px dashed #eee;
    border-width: 0 4px 4px 0;
    min-width: 170px;
    padding-top: 15px;

    ul {
        margin-left: 25px;
    }
}


/* code blocks */
code {
    line-height: 18px;
    overflow-y: scroll;
}

footer {
    padding: 50px 0;
    font-size: 80%;
    nav {
        text-align: center;
    }
    nav li {
        display: inline;
        white-space: nowrap;
    }
}
