// This file contains all the stylerules that are applicable to every page

/* Reset + basic styles */
body,
main,
h1,
blockquote,
ul,
li {
    margin: 0;
    padding: 0;

}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}

body, td, th {
    font-weight: 300;
    font-size: @font-size-base;
}

a {
    color: @linkcolor;
    
    &:visited {
        color: @linkcolor-visited;
    }

    &:hover {
        color: @linkcolor-hover;
    }

}

blockquote {
    background: #eee;
    padding: 5px 25px 5px 5px;
    border-left: 20px solid #ccc;
}


// TYPE
// -----------------------------------------------------------------------------

h1 {
    font-size: @headline-h1;
    line-height: 44px;
    padding-bottom: 5px;
    color: @sabre-red;
    margin-top: 10px;
    margin-bottom: 30px;

    a {
        color: @sabre-red;
        text-decoration: none;

        &:hover,
        &:visited {
            color: darken(@sabre-red, 10);
        }
    }
}

h2 {
    color: @grey;
    font-size: @headline-h2;
    line-height: @line-height-base*2;
    font-weight: 300;
}

h3 {
    font-size: @headline-h3;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    border: 1px dashed @sabre-deco;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

// Default List
// ---
// A simple ul.

ul {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    list-style-type: none;

    li:before {
        width: 15px;
        display: inline-block;
        content: "\f101";
        font-family: 'FontAwesome';
        font-size: 0.8em;
        margin-left: -15px;
        vertical-align: text-top;
        color: @sabre-sidekick;
    }
}


// Table
// -----------------------------------------------------------------------------
// The very basic table.

table {
    width: 100%;
    border-top: 5px solid @grey-soft;
    border-bottom: 5px solid @grey-soft;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
    padding: 10px;
    font-weight: 500;
}

td {
    padding: 10px;
    border: 1px dotted @grey-soft;
}


// HEADER
// -----------------------------------------------------------------------------
// Everything before the main content area.

header {
    background-color: #eee;
    text-align: right;
    .clearfix();

    // sabre/dav logo on the left side
    .logo {
        float: left;
        padding: 5px 10px;
        
        img {
            vertical-align: middle;
        }

        a {
            color: #333;
            text-decoration: none;
            font-size: @headline-h2;
            font-weight: 500;
        }
    }

    // Page navigation in the upper right corner.
    nav {
        padding: 19px 10px;
        word-spacing: 20px;

        ul {
            .unstyle-ul();
        }

        li {
            display: inline;
            word-spacing: 0;
        }

        li a {
            text-decoration: none;
        }

    }
}


// ARTICLE
// -----------------------------------------------------------------------------
// The article contains the main page content + comments, but not the sidebar.

article {
    margin: 0 20px;
    padding-top: 30px;
    .flex-item(1); // let it grow, shrink and autosize

    >time {
        display: block;
        font-style: italic;
        font-size: 90%;
    }

}


/* code blocks */
code {
    line-height: 18px;
    overflow-y: auto;
}


// FOOTER
// -----------------------------------------------------------------------------
// Some credits and links in the footer section on the bottom of the page.

footer {
    padding: 50px 0;
    font-size: 80%;
    nav {
        text-align: center;
    }

    ul {
        .unstyle-ul();
    }
    
    nav li {
        display: inline;
        white-space: nowrap;
    }
}
