// INCL SIDEBAR
// =============================================================================
// Some styles for pages with a sidebar.

.incl-sidebar {

    padding: 0; // undo base article padding
    .flex(); // here we make the whole content area a flex wrapper

    // The main content
    > article {
        padding: 40px;
        .flex-item(1); // let it grow, shrink and autosize
    }

    @media (min-width: @screen-sm-min) {
        margin-top: 40px;
    }
}