<footer>

    <nav>
        <ul>
            <li>© 2014 fruux GmbH | </li>
            <li><a href="{{ site.url }}/support">Contact</a> | </li>
            <li><a href="{{ site.url }}/legal">Legal Info</a> | </li>
            <li><i class="fa fa-twitter"></i> <a href="http://twitter.com/sabredav">@sabredav</a>, </li>
            <li><a href="http://twitter.com/fruux">@fruux</a> | </li>
            <li><i class="fa fa-github"></i> <a href="https://github.com/fruux?query=sabre">GitHub</a></li>
        </ul>
    </nav>

</footer>
