<header>

    <div class="logo">
        <a href="{{ site.url }}/">
            <img src="{{site.url}}/img/logo.png" alt="SabreDAV. A WebDAV framework for PHP.">
            SabreDAV wiki
        </a>
    </div>

    <nav>
        <ul>
            <li><a href="{{ site.url }}/">sabre/dav</a></li>
            <li><a href="{{ site.url }}/">sabre/event</a></li>
            <li><a href="{{ site.url }}/">sabre/http</a></li>
            <li><a href="{{ site.url }}/">sabre/vobject</a></li>
        </ul>
    </nav>

</header>
