<header class="pagehead">

    <div class="pagehead-inner">
        <a class="logo" href="{{ site.url }}/">
            {% if product == "baikal" %}
                <img src="{{site.url}}/img/logo.png" alt="{{product}}">
                <span>{{product}}</span>
            {% else %}
                <img src="{{site.url}}/img/logo.png" alt="sabre/{{product}}">
                sabre<span>/{{subproduct}}</span>
            {% endif %}
        </a>

        <nav class="nav nav--page">
            <ul>
                <li class="size-auto"></li>
                <li><a href="{{ site.url }}/dav">Docs</a></li>
                <li><a href="{{ site.url }}/blog">Blog</a></li>
                <li><a href="{{ site.url }}/support">Support</a></li>
                <li class="size-auto text--right"><a href="https://github.com/sabre-io"><i class="fa fa-github"></i></a></li>
                <!-- <li><a href="{{ site.url }}/atom.xml"><i class="fa fa-rss"></i></a> <a href="https://twitter.com/sabredav"><i class="fa fa-twitter"></i></a></li> -->
            </ul>
        </nav>

    </div>

</header>
