<aside>
    <ul>
        <li><a href="{{ site.url }}/">Home</a></li>
        <li><a href="{{ site.url }}/dav/install">Installation</a></li>
        <li>
            Troubleshooting
            <ul>
                <li><a href="{{ site.url }}/dav/clients">Clients</a></li>
                <li><a href="{{ site.url }}/dav/webservers">Webservers</a></li>
            </ul>
        </li>
        <li>
            Other topics
            <ul>
                <li><a href="{{ site.url }}/dav/acl">Acl</a></li>
                <li><a href="{{ site.url }}/dav/authentication">Authentication</a></li>
                <li><a href="{{ site.url }}/dav/building-a-caldav-client">Building a CalDAV client</a></li>
                <li><a href="{{ site.url }}/dav/versioning">Versioning</a></li>
            </ul>
        </li>
    </ul>
</aside>
