<aside>
    <ul>
        <li><a href="{{ site.url }}/">Home</a></li>
        <li><a href="{{ site.url }}/dav/install">Installation</a></li>
        <li><a href="{{ site.url }}/dav/upgrading">Upgrading</a></li>
        <li><a href="{{ site.url }}/dav/gettingstarted">Getting Started</a></li>
        <li>
            Troubleshooting
            <ul>
                <li><a href="{{ site.url }}/dav/faq">FAQ</a></li>
                <li><a href="{{ site.url }}/dav/clients">Clients</a></li>
                <li><a href="{{ site.url }}/dav/webservers">Webservers</a></li>
            </ul>
        </li>
        <li>
            CalDAV
            <ul>
                <li><a href="{{ site.url }}/dav/caldav">Getting started</a></li>
                <li><a href="{{ site.url }}/dav/building-a-caldav-client">Building a CalDAV client</a></li>
                <li><a href="{{ site.url }}/dav/caldav-carddav-integration-guide">Integration guide</a></li>
                <li><a href="{{ site.url }}/dav/caldav-proxy">Delegation</a></li>
                <li><a href="{{ site.url }}/dav/caldav-sharing">Calendar sharing</a></li>
                <li><a href="{{ site.url }}/dav/ics-export-plugin">iCalendar export</a></li>
                <li><a href="{{ site.url }}/dav/imiphandler">iMip Handler</a></li>
            </ul>
        </li>
        <li>
            CardDAV
            <ul>
                <li><a href="{{ site.url }}/dav/carddav">Getting started</a></li>
                <li><a href="{{ site.url }}/dav/caldav-carddav-integration-guide">Integration guide</a></li>
                <li><a href="{{ site.url }}/dav/carddav-directory">CardDAV Directory</a></li>
            </ul>
        </li>
        <li>
            Other topics
            <ul>
                <li><a href="{{ site.url }}/dav/acl">Acl</a></li>
                <li><a href="{{ site.url }}/dav/authentication">Authentication</a></li>
                <li><a href="{{ site.url }}/dav/character-encoding">Character encoding</a></li>
                <li><a href="{{ site.url }}/dav/browser-plugin">Directory indexes</a></li>
                <li><a href="{{ site.url }}/dav/davmount">DavMount</a></li>
                <li><a href="{{ site.url }}/dav/guesscontenttype">Content Types</a></li>
                <li><a href="{{ site.url }}/license">License</a></li>
                <li><a href="{{ site.url }}/dav/litmus">Litmus</a></li>
                <li><a href="{{ site.url }}/dav/plugins">Plugins</a></li>
                <li><a href="{{ site.url }}/dav/partialupdate">PATCH support</a></li>
                <li><a href="{{ site.url }}/dav/scalability">Scalability</a></li>
                <li><a href="{{ site.url }}/dav/versioning">Versioning</a></li>
                <li><a href="{{ site.url }}/dav/virtual-filesystems">Virtual filesystems</a></li>
            </ul>
        </li>
    </ul>
</aside>
